<%- include('includes/header.ejs', { subject: 'Password Reset Request' }) %>

<p>Hi <strong><%= user %></strong>,</p>

<p>We received a request to reset your password.  Please use the following OTP to rest your password:</p>

<h2 style="text-align: center; color: #007bff;"><%= otp %></h2>

<p>This code will expire in <%= otpTimeMins %> minutes. Do not share it with anyone.</p>

<p>If you did not request this change, please ignore this email.</p>

<%- include('includes/footer.ejs') %>
 